.main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.diceForm, .judgment {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
}

.diceForm *, .judgment * {
  font-size: 1rem;
  font-family: var(--font-mono);
}

.diceForm > h1, .judgment > h1 {
  padding-bottom: 1rem;
}

.diceForm > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
  padding-bottom: 1rem;
}

.diceForm > div input {
  text-align: center;
  font-size: 1rem;
}

.diceForm button {
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
}

.diceForm button:hover {
  background-color: #cfcfcf;
  cursor: pointer;
}

.judgment p {
  position: relative;
  margin: 0;
  padding: 2rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}
